	.broken-header {
		text-align: center;
		margin-bottom: 30px;
	}

	.team-list-inner-tr {
	    background: #EEEEEE;
	}

	.broken-filter-div {
		margin-bottom: 20px;
	}

	.broken-match-table {
		margin-top: 10px;
	}
