<!DOCTYPE html>
<html ng-app="oddsgeir">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href='css/custom.css'>


  <title>Broken run</title>
</head>

<body class="container">

  <!-- controller -->
  <div ng-controller="brokenCtrl">

    <!-- header -->
    <div>
      <h1 class="broken-header">
        Broken run
      </h1>
    </div>
    <!-- end header -->


    <!-- filter panel -->
    <div class="panel panel-default">
      <div class="panel-heading">Filter</div>
      <div class="panel-body">

        <!-- minimum number of games in run -->
        <div class="broken-filter-div">
          <select ng-init="chosenNrOfMatches=2;numberOfMatchesArray = [1,2,3,4,5,6,7,8,9,10,11,12];" ng-model="chosenNrOfMatches" ng-options="nr for nr in numberOfMatchesArray" ng-change="nrChanged()">
          </select>

          &nbsp;Min games
        </div>

        <!-- type of run -->
        <div class="broken-filter-div" ng-init="typeofrun='both'">
          <label class="radio-inline"><input type="radio" name="typeofrunradio" ng-model="typeofrun" ng-value="'win'">Winning</label>
          <label class="radio-inline"><input type="radio" name="typeofrunradio" ng-model="typeofrun" ng-value="'los'">Losing</label>
          <label class="radio-inline"><input type="radio" name="typeofrunradio" ng-model="typeofrun" ng-value="'both'">All</label>
        </div>

        <!-- Next game at home or away -->
        <div class="broken-filter-div" hidden>
          <div class="broken-filter-div">
            <label class="radio-inline"><input type="radio" name="wherenextradio">Next at home</label>
            <label class="radio-inline"><input type="radio" name="wherenextradio">Next away</label>
            <label class="radio-inline"><input type="radio" name="wherenextradio" checked>All</label>
          </div>

        </div>
      </div>
    </div>
    <!-- end filter panel -->








    <!-- liste av brokens -->
    <div>

      <p>Brokens som tilfredsstiller filter:</p>

      <div>

        <!-- team table -->

        <table class="table table-striped">
          <tbody>
            <tr data-ng-repeat="team in teams|brokenFilter:chosenNrOfMatches:typeofrun=='win'||typeofrun=='both':typeofrun=='los'||typeofrun=='both'" ng-init="team.hide=true">
              <td>
                <div ng-click='team.hide=!team.hide'>{{team.nameStr}}</div><!--team name header-->

                <!-- inner match table -->
                <table class="table broken-match-table" ng-show='!team.hide'>
                  <tbody>
                    <tr data-ng-repeat="match in team.matches" class="team-list-inner-tr">
                      <td>
                        {{ match.date | date:'dd.MM.yyyy'}}
                      </td>
                      <td>
                        {{match.homeTeam.nameStr}}
                      </td>
                      <td>
                        {{match.awayTeam.nameStr}}
                      </td>
                      <td>
                        {{match.homeScore}} - {{match.awayScore}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- inner match table end -->

                </td
              </tr>
            </tbody>
          </table>
          <!-- end team table -->


        </div>
      </div>
      <!-- end liste av brokens -->



      <!-- TODO:REMOVE BUTTON-->
      <button hidden ng-click="test()">Hei</button>
    </div>
    <!-- end controller -->


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="js/angular/angular.min.js"></script>
    <script src="js/oddsgeir.js"></script>
    <script src="js/services/testdata.js"></script>
    <script src="js/services/sorting.js"></script>
    <script src="js/services/broken-run-service.js"></script>
    <script src="js/controllers/testcontroller.js"></script>
    <script src="js/controllers/controller.js"></script>
    <script src="js/filters/broken-filter.js"></script>
    <script src="js/model/league.js"></script>
    <script src="js/model/team.js"></script>
    <script src="js/model/match.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>

  </html>
