<!DOCTYPE html>
<html ng-app="oddsgeir">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href='css/custom.css'>


  <title>Broken run</title>
</head>

<body class="container">

  <!-- controller -->
  <div ng-controller="brokenCtrl">

    <!-- header -->
    <div>
      <h1 class="broken-header">
        Broken run
      </h1>
    </div>
    <!-- end header -->


    <!-- filter panel -->
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Filter</h4></div>
      <div class="panel-body">

        <!-- type of run -->
        <div class="broken-filter-div" ng-init="applyFilter=true">
          Apply filter&nbsp;&nbsp;
          <label class="radio-inline"><input type="radio" name="applyFilterRadio" ng-model="applyFilter" ng-value="true">Yes</label>
          <label class="radio-inline"><input type="radio" name="applyFilterRadio" ng-model="applyFilter" ng-value="false">No</label>
        </div>

        <!-- minimum number of games in run -->
        <div class="broken-filter-div">
          <select ng-init="chosenNrOfMatches=2;numberOfMatchesArray = [1,2,3,4,5,6,7,8,9,10,11,12];" ng-model="chosenNrOfMatches" ng-options="nr for nr in numberOfMatchesArray" ng-change="nrChanged()">
          </select>

          &nbsp;Min games
        </div>

        <!-- type of run -->
        <div class="broken-filter-div" ng-init="typeofrun='both'">
          <label class="radio-inline"><input type="radio" name="typeofrunradio" ng-model="typeofrun" ng-value="'win'">Winning</label>
          <label class="radio-inline"><input type="radio" name="typeofrunradio" ng-model="typeofrun" ng-value="'los'">Losing</label>
          <label class="radio-inline"><input type="radio" name="typeofrunradio" ng-model="typeofrun" ng-value="'both'">All</label>
        </div>

        <!-- Next game at home or away -->
          <div class="broken-filter-div" hidden>
            <label class="radio-inline"><input type="radio" name="wherenextradio">Next at home</label>
            <label class="radio-inline"><input type="radio" name="wherenextradio">Next away</label>
            <label class="radio-inline"><input type="radio" name="wherenextradio" checked>All</label>
          </div>

      </div>
    </div>
    <!-- end filter panel -->

    <div class="broken-filter-div" style="text-align: right">
        <i>Click to refresh data</i>&nbsp;&nbsp;<button><img ng-click="refreshData()" src="res/icons/ic_update_black_48dp_2x.png" alt="Mountain View" style="width:30px;height:30px;"></button>
    </div>






    <!-- liste av brokens -->
    <div>

      <h4>Broken runs:</h4>

      <div>

        <!-- team table -->
        <span us-spinner="{radius:100, width:20, length: 100}" spinner-on="showSpinner"></span>
        <table class="table table-striped">
          <tbody>
            <tr data-ng-repeat="team in teams|brokenFilter:applyFilter:chosenNrOfMatches:typeofrun=='win'||typeofrun=='both':typeofrun=='los'||typeofrun=='both'" ng-init="team.hide=true">
              <td>
                <div ng-click='team.hide=!team.hide'>{{team.nameStr}} ({{team.league.toString()}})</div><!--team name header-->

                <!-- inner match table -->
                <table class="table broken-match-table" ng-show='!team.hide'>
                  <tbody>
                    <tr data-ng-repeat="match in team.matches" class="team-list-inner-tr">
                      <td>
                        {{ match.date | date:'dd.MM.yyyy'}}
                      </td>
                      <td>
                        {{match.homeTeamStr}}
                      </td>
                      <td>
                        {{match.awayTeamStr}}
                      </td>
                      <td>
                        {{match.homeScore}} - {{match.awayScore}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- inner match table end -->

              </td>
              </tr>
            </tbody>
          </table>
          <!-- end team table -->


        </div>
      </div>
      <!-- end liste av brokens -->


    </div>
    <!-- end controller -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/node_modules/angular-spinner/dist/angular-spinner.min.js"></script>
    <script src="js/oddsgeir.js"></script>
    <script src="js/res/q.js"></script>
    <script src="js/services/leagueService.js"></script>
    <script src="js/services/betexScraper.js"></script>
    <script src="js/services/testDataService.js"></script>
    <script src="js/services/sortingService.js"></script>
    <script src="js/services/localStorageService.js"></script>
    <script src="js/controllers/brokenCtrl.js"></script>
    <script src="js/filters/brokenFilter.js"></script>
    <script src="js/model/league.js"></script>
    <script src="js/model/team.js"></script>
    <script src="js/model/match.js"></script>
  </body>

  </html>
